*{
	margin: 0;
	padding: 0;
	line-height: 1.15;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	-webkit-text-size-adjust: 100%;
}
input, button {
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	border: none;
}
:host{
	--var: none;
}