*{
	margin: 0;
	padding: 0;
	line-height: 1.15;
	box-sizing: border-box;
	outline: 0;
	text-decoration: none;
	-webkit-text-size-adjust: 100%;
}
em, strong, i, b, address, cite {
	font-style: normal;
	font-weight: 500;
}
input, button {
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	border: none;
}
:host {
	--animation-time: .35s;
	--blue: 80, 104, 226;
	--red: 255, 106, 85;
	--green: 131, 191, 110;
	--gap: 10px
}

@font-face {
	src: url(../../fonts/Geometria.woff);
	font-family: "Geometria";
	font-display: swap;
}

.inpt{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;

}
.inpt-title {
	margin-bottom: 5px;
	font: 1em "Geometria";
	color: rgba(82,84,102,.4);
}
.inpt-value,.inpt-mask{
	width: 100%;
	height: 42px;
	padding: var(--gap) 0 var(--gap) var(--gap);
	display: inline-flex;
	align-items: center;
	border-radius: 4px;
	border-bottom: 4px solid rgba(70,132,226,.6);
	background: #FFFFFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
	overflow: hidden;
	font: 1.15em "Geometria";
	color: #525466;
}
.inpt-value:before{
	content: ' ';
}
.inpt-value.focused,
.inpt-value:focus{
	border-color: rgb(70, 132, 226);
}
.inpt-value img{
	width: 8px;
	margin-right: var(--gap);
	transition: .35s ease;
}
.inpt-value img:hover{
	transform: rotate(90deg);
}
.inpt-value-placeholder{
	font-size: 13px;
	pointer-events: none;
}
.inpt-mask,.inpt-tip{
	top: 0;
	left: 0;
	opacity: 0;
}
.inpt-tip{
	top: 75%;
	font-size: 11px;
	transform: scale(0.95);
}
.inpt-mask,.inpt-tip,.intp-mask-placeholder,.inpt-date-img{
	transition: var(--animation-time) ease;
	position: absolute;
}
.inpt-mask-date{
	opacity: 0;
	position: absolute;
}
.inpt-mask-date,.inpt-date-img{
	bottom: 15px;
	right: var(--gap);
	width: 48px;
}
.intp-mask-placeholder{
	opacity: 0;
	left: var(--gap);
	width: 100%;
	font-size: 10px;
	bottom: 3px;
	color: #ddd;
}
.inpt-value:focus+.intp-mask-placeholder{
	opacity: 1;
}
.inpt-date-img{
	width:20px;
	height: 20px;
	pointer-events: none
}
.inpt.error {
	border-color: rgb(var(--red))
}
.inpt.error .inpt-tip,
.inpt.error .inpt-value-placeholder,
.inpt.error .inpt-value::placeholder{
	color: rgb(var(--red));
}
.inpt.error .inpt-value{
	color: rgb(var(--red));
	border-bottom-color: rgb(var(--red));
}
.inpt.error .inpt-tip,.inpt.success .inpt-tip{
	top: 110%;
	transform: scale(1);
	opacity: 1
}
.inpt.success {
	border-color: rgb(var(--green))
}
.inpt.success .inpt-tip,
.inpt.success .inpt-value-placeholder,
.inpt.success .inpt-value::placeholder{
	color: rgb(var(--green));
}
.inpt.success .inpt-value{
	border-bottom-color: rgb(var(--green));
}

.inpt-checkbox{
	display: none;
}
.inpt-checkbox-label{
	display: flex;
	align-items: center;
	cursor: pointer;
	color: rgba(82,84,102,.4);
}
.inpt-checkbox-label .inpt-checkbox-label-text{
	margin-left: var(--gap);
}
.inpt-checkbox-label:after,.inpt-checkbox-label:before{
	content: '';
	border-radius: 40px;
	transition: .35s ease
}
.inpt-checkbox-label:before{
	background-color: #fff;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	border: 1px solid #525466;
}
.inpt-checkbox:checked+.inpt-checkbox-label:before{
	background: #4684E2 url('../../img/checked.svg') no-repeat center;
	border-color: transparent;
}