section.block.client
	.section
		h2.block-title
			span Our Clients
		.slider(data-callback='clientSliderChange' auto-play='10' data-short=true)
			.slider-inner
				-let i = 0;
				each value in ['one','two','three','four','five','six']
					-i++
					.slide
						.client-inner
							h5.block-title-small
								span Client #{value}
							p.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
							-if (i === 1)
								a(href='#').client-link.send
									span Want the same?
									svg
										use(xlink:href='img/sprite.svg#send-arrow')
							-if (i === 6)
								a(href='#').client-link.send
									span Contact Us
									svg
										use(xlink:href='img/sprite.svg#send-arrow')
						-if (i < 6)
							.client-img
								img(src=`img/contact-slide-${i}.jpg`)
			.slider-dots(data-click='dotClick')