.contact-info
	a(href='#').contact-info-link
		svg
			use(xlink:href='img/sprite.svg#mail')
		span mail@axiom.com
	a(href='#').contact-info-link
		svg
			use(xlink:href='img/sprite.svg#phone')
		span +7 10 1 631 3975484