extends template/main
append vars
	-
		page_title = 'Blog'
block content
	main
		section.block-first.blog
			.section
				h2.block-title
					span BLOG
				.blog-filter
					include parts/search
					button.blog-filter-btn.active
						span Flows
					button.blog-filter-btn
						span news
					button.blog-filter-btn
						span article
					button.blog-filter-btn
						span digest
					button.blog-filter-btn.blog-search-btn(data-click='showBlogSearch')
						svg
							use(xlink:href='img/sprite.svg#search')
						span Search
			.section
				ul.blog-list
					-let i = 0;
					each value in ['news','article','digest','article','article','news','news','news','article']
						-i++
						li.blog-item
							a(href='./blog-item.html').blog-link
								.blog-preview
									+img(`blog-${i}.jpg`)
									.blog-theme
										span #{value}
								h5.block-subtitle
									span Headings with thread theme, in other words — lorem ipsum
								p.text #[strong Lorem ipsum] is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is...
								.blog-date 03.10.2021
				button.button
					span Load more
		include parts/blog-continue
		include parts/contact-form-last










