extends template/main
append vars
	-
		page_title = 'Headings with thread theme, in other words — lorem ipsum'
block content
	main
		section.block-first.blog
			.section
				.article-titles
					include parts/search
					a(href='./blog.html').block-subtitle
						svg.block-subtitle-svg
							use(xlink:href='img/sprite.svg#back')
						span Back
					button.block-subtitle.blog-search-btn(data-click='showBlogSearch')
						svg.block-subtitle-svg
							use(xlink:href='img/sprite.svg#search')
						span Search
		section.article
			.section
				.article-date
					span 03.10.2021
				.article-img
					+img('article-1.jpg')
					.blog-theme
						span News
				h2.block-subtitle.article-subtitle
					span Headings with thread theme, in other words — lorem ipsum
				p.text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus mattis molestie a iaculis. Aliquet eget sit amet tellus cras. Consequat nisl vel pretium lectus quam id leo in. Cras ornare arcu dui vivamus arcu felis. Dolor magna eget est lorem ipsum dolor sit amet. Eget nulla facilisi etiam dignissim diam quis enim. Ipsum faucibus vitae aliquet nec ullamcorper sit. Augue eget arcu dictum varius. Morbi tincidunt ornare massa eget. Neque viverra justo nec ultrices dui sapien eget mi. Tempor nec feugiat nisl pretium fusce id velit. Ultricies mi quis hendrerit dolor magna eget est lorem ipsum. Viverra vitae congue eu consequat ac. Nibh ipsum consequat nisl vel pretium. Porta lorem mollis aliquam ut porttitor leo. Turpis egestas pretium aenean pharetra magna ac. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Urna molestie at elementum eu facilisis sed odio.
					br
					br
					| Tempus quam pellentesque nec nam aliquam. In pellentesque massa placerat duis ultricies lacus sed turpis. Nibh tellus molestie nunc non blandit massa. Consectetur lorem donec massa sapien faucibus et molestie ac. Sed cras ornare arcu dui vivamus arcu felis bibendum. Sapien faucibus et molestie ac feugiat. Ornare arcu dui vivamus arcu felis bibendum. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. In arcu cursus euismod quis viverra nibh. Volutpat consequat mauris nunc congue nisi. Laoreet sit amet cursus sit amet dictum sit. Dui accumsan sit amet nulla. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Nibh cras pulvinar mattis nunc sed blandit libero. Etiam non quam lacus suspendisse faucibus interdum posuere. Integer enim neque volutpat ac. Ultrices mi tempus imperdiet nulla malesuada. Et ultrices neque ornare aenean euismod elementum nisi. Dignissim cras tincidunt lobortis feugiat vivamus at.
					br
					br
					| Tellus molestie nunc non blandit massa enim nec dui. Dictum fusce ut placerat orci nulla pellentesque. Quam elementum pulvinar etiam non quam lacus. Mauris sit amet massa vitae. Iaculis urna id volutpat lacus laoreet non curabitur gravida arcu. Etiam non quam lacus suspendisse faucibus interdum. Tristique senectus et netus et malesuada fames ac. Sed sed risus pretium quam vulputate dignissim suspendisse in. Malesuada fames ac turpis egestas maecenas pharetra convallis posuere morbi. Cursus eget nunc scelerisque viverra mauris in aliquam. Nec dui nunc mattis enim ut. Nunc sed blandit libero volutpat sed cras. Eu non diam phasellus vestibulum lorem sed risus ultricies. Faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Vulputate ut pharetra sit amet. Faucibus ornare suspendisse sed nisi lacus. Feugiat nisl pretium fusce id velit ut tortor.
					br
					br
					| Amet luctus venenatis lectus magna fringilla urna. Posuere ac ut consequat semper viverra nam. Sit amet cursus sit amet. Donec enim diam vulputate ut pharetra sit. At urna condimentum mattis pellentesque id nibh tortor id. Duis convallis convallis tellus id interdum velit laoreet id donec. Volutpat commodo sed egestas egestas fringilla phasellus faucibus. Facilisis volutpat est velit egestas dui id ornare arcu odio. Accumsan lacus vel facilisis volutpat. Urna et pharetra pharetra massa massa ultricies. Velit sed ullamcorper morbi tincidunt ornare. In vitae turpis massa sed elementum tempus egestas. Iaculis at erat pellentesque adipiscing commodo elit at imperdiet dui. Viverra justo nec ultrices dui sapien. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Ornare massa eget egestas purus viverra accumsan. Nunc consequat interdum varius sit.
					br
					br
					| Amet nisl purus in mollis nunc sed id semper. Lorem donec massa sapien faucibus et. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Pulvinar elementum integer enim neque volutpat ac. Ut tellus elementum sagittis vitae. Arcu vitae elementum curabitur vitae nunc. Orci sagittis eu volutpat odio facilisis mauris sit. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. Mi tempus imperdiet nulla malesuada pellentesque. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Tortor at auctor urna nunc. Vitae purus faucibus ornare suspendisse. Egestas integer eget aliquet nibh praesent tristique magna sit. Id diam maecenas ultricies mi eget mauris. Ac tortor vitae purus faucibus ornare. Enim tortor at auctor urna nunc id cursus metus aliquam.
				.article-img
					+img('article-2.jpg')
				p.text
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus mattis molestie a iaculis. Aliquet eget sit amet tellus cras. Consequat nisl vel pretium lectus quam id leo in. Cras ornare arcu dui vivamus arcu felis. Dolor magna eget est lorem ipsum dolor sit amet. Eget nulla facilisi etiam dignissim diam quis enim. Ipsum faucibus vitae aliquet nec ullamcorper sit. Augue eget arcu dictum varius. Morbi tincidunt ornare massa eget. Neque viverra justo nec ultrices dui sapien eget mi. Tempor nec feugiat nisl pretium fusce id velit. Ultricies mi quis hendrerit dolor magna eget est lorem ipsum. Viverra vitae congue eu consequat ac. Nibh ipsum consequat nisl vel pretium. Porta lorem mollis aliquam ut porttitor leo. Turpis egestas pretium aenean pharetra magna ac. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Urna molestie at elementum eu facilisis sed odio.
					br
					br
					| Tempus quam pellentesque nec nam aliquam. In pellentesque massa placerat duis ultricies lacus sed turpis. Nibh tellus molestie nunc non blandit massa. Consectetur lorem donec massa sapien faucibus et molestie ac. Sed cras ornare arcu dui vivamus arcu felis bibendum. Sapien faucibus et molestie ac feugiat. Ornare arcu dui vivamus arcu felis bibendum. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. In arcu cursus euismod quis viverra nibh. Volutpat consequat mauris nunc congue nisi. Laoreet sit amet cursus sit amet dictum sit. Dui accumsan sit amet nulla. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Nibh cras pulvinar mattis nunc sed blandit libero. Etiam non quam lacus suspendisse faucibus interdum posuere. Integer enim neque volutpat ac. Ultrices mi tempus imperdiet nulla malesuada. Et ultrices neque ornare aenean euismod elementum nisi. Dignissim cras tincidunt lobortis feugiat vivamus at.
				ul.socials
					li.socials-item
						a(href='#').socials-link
							span.socials-img
								svg
									use(xlink:href='img/sprite.svg#twitter')
							span.socials-text Twitter
					li.socials-item
						a(href='#').socials-link
							span.socials-img
								svg
									use(xlink:href='img/sprite.svg#facebook')
							span.socials-text Facebook
					li.socials-item
						a(href='#').socials-link
							span.socials-img
								svg
									use(xlink:href='img/sprite.svg#whatsapp')
							span.socials-text WhatsApp
		include parts/blog-continue
		include parts/contact-form-last