extends template/main
append vars
	-
		page_title= 'Main'
block content
	main
		section
			.section
				include parts/main-slider
		section.block
			.section
				h2.block-title
					span The services we offer
				.services
					.services-block
						h3.block-title-small
							span OUTSTAFFING
						ul.services-list
							li.services-item
								h5.block-subtitle
									svg.block-subtitle-svg
										use(xlink:href='img/sprite.svg#code')
									span.block-subtitle-text Web development
								p.services-text.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
								p.services-text.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
							li.services-item
								h5.block-subtitle
									svg.block-subtitle-svg
										use(xlink:href='img/sprite.svg#eyedropper')
									span.block-subtitle-text Web  design
								p.services-text.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
								p.services-text.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
						a(href='./services.html').button
							span Learn More
					.services-block
						h3.block-title-small
							span recruitment
						ul.services-list
							li.services-item
								h5.block-subtitle
									svg.block-subtitle-svg
										use(xlink:href='img/sprite.svg#creditcard')
									span.block-subtitle-text E-COMMERCE
								p.services-text.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
								p.services-text.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
							li.services-item
								h5.block-subtitle
									svg.block-subtitle-svg
										use(xlink:href='img/sprite.svg#database')
									span.block-subtitle-text DATA MANAGEMENT
								p.services-text.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
								p.services-text.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
						a(href='./services.html').button
							span Learn More
		section.block
			.section
				h2.block-title
					span Audience description
				.audience
					-for(let i = 0; i < 3; i++)
						.audience-block
							span.audience-number 0#{i + 1}
							.line
							p.audience-text SOME REASON TO WORK WITH US AND WHY WE DO IT BETTER THAN SOME ONE ELSE
							a(href='#contact').button
								span Contact Us
						.audience-block
							span.audience-number 0#{i + 2}
							.line
							p.audience-text SOME REASON TO WORK WITH US
							a(href='#contact').button
								span Contact Us
						-i++
		include parts/contact-form
		section.block
			.section
				h2.block-title
					span our features and guaranties
				ul.features
					-for (let i = 0; i < 6; i++)
						li.features-item.guarant-item
							.guarant-icon.features-icon
								svg
									use(xlink:href='img/sprite.svg#convenience')
							h5.block-subtitle Convenience
							p.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
					a(href='#contact').button
						span Let's check
		include parts/clients-slider
		section.block.who
			.section
				h2.block-title
					span Who we are
				h3.block-subtitle.blue.who-subtitle
					span We're more than a digital agency
				.who-photos
					.who-photo
						.who-photo-inner
							h5.block-title-small
								span USA Office
							p.text New Jersey, USA
						+img('who-photo-1.jpg')
					.col
						.who-photo
							.who-photo-inner
								h5.block-title-small
									span USA Office
								p.text New Jersey, USA
							+img('who-photo-2.jpg')
						.who-photo
							.who-photo-inner
								h5.block-title-small
									span USA Office
								p.text New Jersey, USA
							+img('who-photo-3.jpg')
				ul.who-list
					li.who-item
						h6.block-subtitle
							span Who we are
						.line
						p.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing.
					li.who-item
						h6.block-subtitle
							span phIlosophy
						.line
						p.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing.
					li.who-item
						h6.block-subtitle
							span How we work
						.line
						p.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing.
				a(href='./about.html').button
					span About
		include parts/contact-form-last







