extends template/main
append vars
	-
		page_title = 'Services'
block content
	main
		section.services-desc
			.section
				h2.block-title
					span Services
				p.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
				p.text Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
				button.button
					span Let's start
		section.block
			.section
				h2.block-title
					span How It works
				.tabs
					input(type='radio' name='tabs' checked)#tabs-one
					input(type='radio' name='tabs')#tabs-two
					input(type='radio' name='tabs')#tabs-three
					input(type='radio' name='tabs')#tabs-four
					.tabs-head
						label(for='tabs-one').tabs-head-btn
							span 01 Tab One
						label(for='tabs-two').tabs-head-btn
							span 02 Tab Two
						label(for='tabs-three').tabs-head-btn
							span 03 Tab Three
						label(for='tabs-four').tabs-head-btn
							span 04 Tab Four
					.tabs-body
						.tabs-body-item.tabs-bodies-one
							p.text #[strong Lorem ipsum] is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
						.tabs-body-item.tabs-bodies-two
							p.text #[strong Lorem ipsum] is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
						.tabs-body-item.tabs-bodies-three
							p.text #[strong Lorem ipsum] is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
						.tabs-body-item.tabs-bodies-four
							p.text #[strong Lorem ipsum] is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups. Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts and visual mockups.
					.tabs-footer
						label(for='tabs-one').tabs-footer-btn
							span 01
						label(for='tabs-two').tabs-footer-btn
							span 02
						label(for='tabs-three').tabs-footer-btn
							span 03
						label(for='tabs-four').tabs-footer-btn
							span 04