extends template/main
append vars
	-
		page_title = 'UI'
block content
	main.ui
		section
			.section
				svg
					use(xlink:href='img/sprite.svg#logo')
				svg.stroke
					use(xlink:href='img/sprite.svg#message')
				svg.fill
					use(xlink:href='img/sprite.svg#arrow-left')
				svg.fill
					use(xlink:href='img/sprite.svg#arrow-right')
				svg.stroke
					use(xlink:href='img/sprite.svg#code')
				svg.stroke
					use(xlink:href='img/sprite.svg#eyedropper')
				svg.stroke
					use(xlink:href='img/sprite.svg#creditcard')
				svg.stroke
					use(xlink:href='img/sprite.svg#database')
				svg.stroke
					use(xlink:href='img/sprite.svg#convenience')
				svg.stroke
					use(xlink:href='img/sprite.svg#mail')
				svg.stroke
					use(xlink:href='img/sprite.svg#phone')
				svg
					use(xlink:href='img/sprite.svg#registered')
				svg.stroke
					use(xlink:href='img/sprite.svg#send-arrow')
				svg.stroke
					use(xlink:href='img/sprite.svg#target')
				svg.stroke
					use(xlink:href='img/sprite.svg#medal')
				svg.stroke
					use(xlink:href='img/sprite.svg#search')
				svg.stroke
					use(xlink:href='img/sprite.svg#close')
				svg.stroke
					use(xlink:href='img/sprite.svg#back')
				svg.fill
					use(xlink:href='img/sprite.svg#twitter')
				svg.fill
					use(xlink:href='img/sprite.svg#facebook')
				svg.fill
					use(xlink:href='img/sprite.svg#whatsapp')
				svg.fill
					use(xlink:href='img/sprite.svg#star')